@model AMAssos.Models.AssociationDetailViewModel

@section AddToHead{
    <link href="@Url.Content("~/Content/Sorties.css")" rel="stylesheet" type="text/css" />
}



<div class="jumbotron jumbotron-fluid bg-dark">

    <div class="jumbotron-background">
            <img src="@Url.Content("~/Images/" + (Model.Association.Activite) + "/" + (Model.Association.Photo))" class="blur ">
        </div>

    <div class="container text-white">

        <h1 class="display-4">@Model.Association.Nom</h1>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="#" role="button">En Savoir Plus</a>
    </div>
</div>

@foreach (var item in Model.Sorties)
{
    <div class="ms-content-wrapper">
        <div class="row row-cols-1 row-cols-md-4">

            @foreach (var sorties in item.Value)
            {
                <div class="ms-card m-2">
                    <div class="ms-card-img col" style="padding:0px;">
                        <img src="@Url.Content("~/Images/" + (sorties.Association.Activite) + "/" + (sorties.Photo))" />
                    </div>
                    <div class="ms-card-body">

                        <div class="new">
                            <h6 class="mb-0">@sorties.Nom</h6>
                            <h6 class="ms-text-primary mb-0">@sorties.Prix€</h6>
                        </div>
                        <div class="new meta">
                            <span class="badge badge-success">Min : @sorties.CapaciteMinimum</span>
                            <span class="badge badge-danger">Max : @sorties.CapaciteMaximum</span>
                        </div>
                        <p>@sorties.Description</p>
                        <div class="new mb-0">
                            <button type="button" class="btn grid-btn mt-0 btn-sm btn-primary" onclick="location.href = '@Url.Content("~/Sorties/Details/" + sorties.IdSortie)'">Voir +</button>
                            <button type="button" class="btn grid-btn mt-0 btn-sm btn-secondary" onclick="location.href = '@Url.Content("~/Sorties/Edit/" + sorties.IdSortie)'">S'inscrire</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}


